@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
body{
    margin : 0px;
    font-family: 'Open Sans', sans-serif;
}
#main_shiv{
    display: flex;
    background-color: white;
    height: 520px;
    margin-top: 50px;
    /* margin: 20px 70px 0xp 70px; */

}
#left_shiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10%;
    width: 70%;
    letter-spacing: 1.5%;
    line-height: 150%;
    /* background-color: azure; */
}
#right_shiv{
    margin-left: 0%;
    width: 30%;
}
#c1r2{
    height : 50%;
}
#c2r1{
    height:100%
}
 #c3r2{
    height : 50%;
}
.heading_shiv{
    width: 200px;
    margin-top: 10%;
    margin-bottom: 3%;
    font-weight: 700;
    font-size: 80%;
}
.content{
    margin: 2%;
    margin-left: 0;
    font-size: 80%;
}
#svg_shiv{
    color: #10847e;
    margin-right: 3%;
    height:33px;
    width:auto;
}
.follow{
font-size: 80%;
margin-top: 8%;
}
#payment_partners{
    display:flex;
    margin: 2px;
    margin-top: 20px;
    margin-left: 10%;

    margin-top: 100px;

}
#image_shiv{
margin-top: 0px;
/* background-color: rgb(168, 82, 82); */
height: 100px;
width: 100px;
margin-left: 10%;
display:flex;
}
.extra{
height: 50px;
width: 50px;
object-fit: contain;
margin-right: 10%;
}
.contain{
    object-fit: contain;
}
div > #mobi{
    height: 40px;
    width: 40px;
    object-fit: contain;
    padding-top: 3%;
}
#phonepe , #visa{
    object-fit: cover;
}
#rupay{
    object-fit: inherit;
}
#airtel{
    height: 30px;
    padding-top: 9%;
}
