@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
body{    
font-family: 'Open Sans', sans-serif;
color: rgb(74, 74, 74) ;
}

.main-carousel{
    width: 60%;
    height: 50%;
    margin: 5% auto;
}

.cell{
    width: 70%;
    margin: 0 15px;
    /* overflow: hidden; */
    border-radius: 8px;    
}

.cell img{
    display: block;
    width: 100%;
    height: 350px;
    /* object-fit: cover; */
}
#product-grid{
    width: 60%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    gap: 10px;
    /* border: 1px solid; */
}

.car-card{
    display: flex;
    border: 1px solid rgb(223, 221, 221) ;  
    border-radius: 8px;
    padding: 10px 0;
    justify-content: space-between;
    height: 100px;
}

.car-card:hover{
    cursor: pointer;
    /* box-sizing: border-box; */
    border: 1px solid rgb(0, 17, 255);
    box-shadow: 1px 1px 1px 1px rgb(5, 1, 243);
}

.car-card div{
    margin: 5px;
    /* border: 1px solid; */
    padding: 10px;
}
.img-div{
    padding-left: 50px;
    /* background-color: aqua; */
}
.img-div img{
    margin-left: 20px;
}

.category{
    color: rgb(74, 74, 74);
    font-size: 16px;
    /* border: 1px solid; */
    width: 150px;
    display: grid;
    /* height: 50px;   */
    font-weight: 500;
    text-align: left;
    margin-top: 20px;
    place-items: center;
}


.off{
    color:rgb(22, 135, 110);
    width: 50px;
    text-align: right;
    text-indent: 0px;
    display: grid;
    place-items: center;
    place-items: right;
    font-size: 14px;
    padding-top: 12px;
    font-weight: 400;
}

#description{
    width: 60%;
    margin: 0 auto;
    font-size: 16.8px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 100px;
}

ul {
    list-style: none;
    
  }
  
  ul li::before {
    content: "\2022";
    color: rgb(22, 135, 110);
    font-size: 30px;
    font-weight: 400;
    display: inline-block; 
    line-height: 40px;
    width: 1em;
    margin-left: -1em;
  }

  #features{
      width: 50%;
      display: flex;
      margin: 0 auto;
      /* border: 1px solid; */
      /* align-items: center; */
      justify-content: center;
      padding: 50px 0;
      
  }
  hr{
    /* background-color: aqua; */
    border: 0.2px solid rgb(243, 243, 243);
  }

  #features div{
      /* border: 1px solid black; */
      /* width: fit-content; */
      margin: 10px;
      
  }

  

 .detail{
     /* border: 1px solid; */     
      width: 260px;
      font-size: 18px;
      font-weight: 400;     
      /* color: rgb(136, 151, 162); */
  }


  .detail img{
      margin-left: 20px;
  }

  .detail p{
      display: inline;
      color: rgb(136, 151, 162);
      text-decoration: none;
      line-height: 25px;
  }

  #download{
      width: 60%;
      margin: 60px auto;
      display: flex;
  }

  .mobile-img img{
      width: 250px;
  }

  .download-button{
      /* font-size: 14px; */
      margin: 0 100px;
      padding-top: 10px;
  }

  .download-button > .buttons{
    display: flex;
    /* background-color: rgb(0, 0, 0); */
  }
  .download-button > .buttons a{
      background-color: rgb(85, 85, 85);
      display: flex;
      border: 1px solid;
      border-radius: 10px;
      width: 180px;
      margin: 20px;
      padding: 10px 0;
      text-decoration: none;
      color: white;
      font-size: 14px;
  }
  .download-button > .buttons a:hover{
      background-color: rgb(75, 75, 75);
  }


  .download-button > .buttons a div{
      margin-left: 15px;
      display: grid;
      place-items: center;
  }