.head {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color:white;
    margin-left: 20px;
    padding: 15px;
    position: relative;
}

#container {
    background-color: #10847e;
    width: auto;
    height: 80px;
    margin: auto;
}