#offers-just{
    width: 70%;
    height: 200px;
    /* border: 1px solid black; */
    margin: auto;
    /* margin-top: 5%; */
    user-select: none;
}

/* Div One Title and navigation */

.div-one{
    /* display: flex; */
    font-size: 25px;
    /* font-weight: bold; */
    /* background-color: yellow; */
    vertical-align: middle;
    /* width: 20%; */
    /* object-fit: cover; */
    padding-left: 20px;
}

.navigator{
    margin-left: 55%;
    vertical-align: middle;
}
.navigator a{
    color: rgb(16,133,127);
    text-decoration: none;
    font-weight: bold;
    margin-right: 2%;
}

img{
    width: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    vertical-align: middle;
    /* font-size: 25px;     */
}
.navigator .button{
    vertical-align: middle;
    background-color:transparent;
    /* width: 25px; */
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 7px;
    margin-right: 2%;

}

.navigator .button:hover{
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px rgb(192, 192, 192);
    /* padding: 7px; */
    
}

.inactive-button{
    color: gray;
    border: none;
    font-size: 20px;
    padding: 7px;
    vertical-align: middle;
    margin-right: 2%;
}
.inactive-button:hover{
    /* background-color: transparent;
    box-shadow: none; */
    border: none;
}


#carousal-div{
    margin-top: 10px;
    display: flex;
   /* max-height: 270px; */
    /* border: 1px solid black; */
    width: 100%;
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* flex-wrap: nowrap; */
    overflow-x: auto;
    /* padding-left: 0; */
    /* -webkit-overflow-scrolling: touch; */
    transition: all 1.15s;
    /* cursor: -webkit-grabbing; */
    /* border: 1px solid black; */
    user-select: none;
}


#carousal-div::-webkit-scrollbar{
    width: 0;
}

#carousal-div::-webkit-scrollbar-track{
    /* --webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) */
}



#carousal-div .offer-card{
    display: flex;
    flex: 0 0 auto;
    object-fit: cover;
    margin-right: 20px;
    height: 60px;
    width: auto;
    max-width: 100%;
    padding: 20px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 7px;
    overflow: auto;
    transform: scale(0.95);
    transition: all 0.8s;
    /* transition-delay: 1000ms; */
}

.active{
    /* background: rgba(250, 14, 14, 0.3); */
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}

#carousal-div .offer-card:hover{
    transform: scale(1);
}

.logo-div{
    width: 60px;
    height: 60px;
}
.logo-div  img{
    width:100%;
    height: 100%;
    vertical-align: middle;
    vertical-align: baseline;
}
.info{
    width: 180px;
    height: 60px;
    margin-left: 10px;
}
.info .title{
    font-size: 16px;
    /* font-weight: 600; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.3;
    height: 42px;
    overflow: hidden;
    vertical-align: middle;

}
.code{
    color: grey;
    font-size: 18px;
}
.code .span{
    color: black;
    font-size: 15px;
}
.code .code_inactive{
    color: gray;
    
}